<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Docs das Views</title>
</head>

<body>
  <h1>Sistema de gerenciamento de tarefas e subtarefas para um usuário</h1>

  <h2>1- Usuário</h2>
  <ul>
    <li><strong>POST /api/app_users</strong> – Cria um usuário no sistema, com email e senha.<br>
    <li><strong>GET /api/app_users</strong> – Lista os dados da conta do usuário.</li>
    <li><strong>PUT /api/app_users/:id</strong> – Atualiza informações da conta do usuário.</li>
    <li><strong>DELETE /api/app_users/:id</strong> – Apaga a conta de um usuário.</li>
  </ul>

  <h2>2- Tarefa</h2>
  <ul>
    <li><strong>POST /api/tarefas</strong> – Cria uma tarefa no sistema.<br>
    <li><strong>GET /api/tarefas</strong> – Lista os detalhes da tarefa colocadas pelo usuário.</li>
    <li><strong>PUT /api/tarefas/:id</strong> – Atualiza o status da tarefa.</li>
    <li><strong>DELETE /api/tarefas/:id</strong> – Apaga uma tarefa.</li>
  </ul>

  <h2>3- Subtarefa</h2>
  <ul>
    <li><strong>POST /api/subtarefas</strong> – Cria uma subtarefa dentro de uma tarefa.<br>
    <li><strong>GET /api/subtarefas</strong> – Lista todas as subtarefas no sistema e para qual tarefa estão atribuídas.</li>
    <li><strong>PUT /api/subtarefas/:id</strong> – Atualiza o status da subtarefa.</li>
    <li><strong>DELETE /api/subtarefas/:id</strong> – Apaga uma subtarefa.</li>
  </ul>
</body>

</html>